DTF_PREPRESS_API_KEY=
DTF_PREPRESS_MAX_UPLOAD_MB=50
DTF_PREPRESS_MAX_WORKERS=2
DTF_PREPRESS_RUNTIME_TTL_SECONDS=3600
DTF_REMBG_MODEL_DIR=models/rembg
DTF_REALESRGAN_BIN=
DTF_PREPRESS_MAX_BATCH_FILES=10
